
name: CI CD Pipeline

on:
  workflow_dispatch

jobs:
  compile:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn compile
    
  security-check:

    runs-on: ubuntu-latest
    needs: compile

    steps:
    - uses: actions/checkout@v4
    - name: Trivy Installation
      run: |
        sudo apt-get install wget gnupg
        wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | gpg --dearmor | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
        echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
        sudo apt-get update
        sudo apt-get install trivy

    - name: Trivy Fs Scan
      run: trivy fs --format table -o fs-report.json .
    - name: Gitleak Installation
      run: sudo apt install gitleaks -y
    - name: Gitleaks Code Scan Run
      run: gitleaks detect source . -r gitleaks-report.json -f json
  test:
    runs-on: ubuntu-latest
    needs: security-check
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Unit Test cases
      run: mvn test
  
  sonarqube:
    runs-on: self-hosted
    steps:
     - name: Checkout Code
       uses: actions/checkout@v4
     
     - name: Verify SonarQube is running 
       run: | 
        curl.exe http://localhost:9000
        Write-Output "SonarQube is ready"
     - name: Run SonarQube Scan 
       run: | 
         C:\A-Parul\sonarqube\sonar-scanner\sonar-scanner-8.0.1.6346-windows-x64\bin\sonar-scanner 
         -Dsonar.projectKey=my_project
         -Dsonar.sources=.
         -Dsonar.host.url=http://localhost:9000
         -Dsonar.login=sqa_67bbf2ca054ee0d07bb4f8a14d471cc62a5de1b7
